.card-detail-style {
    border: 3px solid rgba(135, 135, 135, 0.8);
    padding: 10px 0;
    margin: 10px 0;
}

.image-div {
    max-height: 15rem;
    max-width: 18rem;
    overflow: hidden;
}

.img-thumbnail {
    min-height: 100%;
    min-width: 100%;
}

.submission-link {
    display: block;
    float: right;
}