.navigation {
  display: flex;
  background-color: #c0d6df;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
}

.nav-link {
  padding-left: 25px;
  background-color: #336699;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.nav-link:last-child {
  border-bottom: 1px solid black;
}

.nav-link a {
  color: white;
}

.collapse {
  display: none;
}

.nav-collapse {
  margin: auto 10px auto auto;
}

.logo-wrapper {
  width: 50%;
}

.logo-wrapper img {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .logo-wrapper {
    width: auto;
  }

  .logo-wrapper img {
    width: 300px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    font-size: 1rem;
    margin-left: auto;
  }

  .desktop {
    display: none;
  }

  .nav-link {
    margin: 0 25px;
    background-color: transparent;
    border: none;
    width: auto;
  }

  .nav-link a {
    color: #2c3e50;
  }

  .nav-link:last-child {
    border: none;
  }
}
