.post-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.comment-title {
  width: 300px;
}

.comment-title img {
  width: 300px;
}

.comment-body {
}

.comment-image {
  border: 2px solid red;
  width: 250px;
  margin: 10px;
}

.comment-image img {
  width: 100%;
}
