.post-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.comment-title {
  width: 100%;
}

.comment-title img {
  width: 100%;
  height: auto;
}

.comment-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-image {
  width: 80%;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.4);
}

.comment-image img {
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px 10px 0 0;
}

.honorable-mentions {
  width: 80%;
  box-shadow: -1px 2px 12px -2px rgba(0, 0, 0, 0.4);
}

.comment-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment-info {
  border: 1px solid grey;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: whitesmoke;
}

@media only screen and (min-width: 768px) {
  .comment-body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .comment-title img {
    width: 60%;
  }

  .comment-image {
    width: 25%;
    height: 500px;
    overflow: hidden;
  }

  .comment-image img {
    height: 60%;
    width: auto;
  }

  .comment-info {
    width: 40%;
  }

  .modalFreeze {
    position: absolute;
    filter: blur(3px);
  }

  .modalBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(233, 233, 233, 0.9);
    z-index: 5;
  }

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    height: 90%;
    text-align: center;
  }

  .modal img {
    width: auto;
    height: 100%;
  }

  #closeButton {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
